*
!/.gitignore
!/
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/db
!/db/*
!/app/*/
!/app/etc/config.php.sample
!/app/etc/env.php.sample
!/app/code/**
!/app/design/**
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/patches
!/patches/**
